{% load static  %}
<div class="dlabnav">
  <div class="dlabnav-scroll">
<div class="dropdown header-profile2 ">
<a class="nav-link " href="javascript:void(0);"  role="button" data-bs-toggle="dropdown">
  <div class="header-info2 d-flex align-items-center">
    <img src="{% static 'dashboard/images/profile/pic1.png' %}" alt=""/>
    <div class="d-flex align-items-center sidebar-info">
      <div>
        <span class="font-w400 d-block">{{request.user.username}}</span>
      </div>	
      <i class="fas fa-chevron-down"></i>
    </div>
    
  </div>
</a>
<div class="dropdown-menu dropdown-menu-end">
  <a href="{% url "dashboard:profile-portal-home" %}" class="dropdown-item ai-icon">
    <svg id="icon-user2" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    <span class="ms-2">Profile </span>
</a>
<a href="{% url "dashboard:update-profile" %}" class="dropdown-item ai-icon">
    <svg id="icon-inbox1" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
    <span class="ms-2">Account Settings</span>
</a>
<a href="{% url "dashboard:logout" %}" class="dropdown-item ai-icon">
    <svg  xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
    <span class="ms-2">Logout </span>
</a>
</div>
</div>
<ul class="metismenu" id="menu">
         

     
          <li><a href="{% url 'dashboard:home' %}" class="" aria-expanded="false">
    <i class="flaticon-013-checkmark"></i>
    <span class="nav-text">Dashboard</span>
  </a>
</li>
         
<li><a href="{% url 'dashboard:purchase-products' %}" class="" aria-expanded="false">
  <i class="flaticon-013-checkmark"></i>
  <span class="nav-text">Purchase Software Services</span>
</a>
</li>
<li><a href="{% url 'dashboard:payments' %}" class="" aria-expanded="false">
  <i class="flaticon-013-checkmark"></i>
  <span class="nav-text">Payments</span>
</a>
</li>
<li><a href="{% url 'dashboard:products-access' %}"  class="" aria-expanded="false">
  <i class="flaticon-013-checkmark"></i>
  <span class="nav-text">Access Software Services</span>
</a>
</li>
         
         
      </ul>


</div>
</>


<div class="nk-sidebar" data-content="sidebarMenu">
  <div class="nk-sidebar-inner" data-simplebar>
    <ul class="nk-menu nk-menu">
      <!-- .nk-menu-heading -->
      <li class="nk-menu-item">
        <a href="{% url 'dashboard:home' %}" class="nk-menu-link">
          <span class="nk-menu-icon"
            ><em class="icon ni ni-dashboard"></em
          ></span>
          <span class="nk-menu-text">Dashboard</span>
        </a>
      </li>
      <!-- .nk-menu-item -->
      <li class="nk-menu-item">
        <a href="{% url 'dashboard:purchase-products' %}" class="nk-menu-link">
          <span class="nk-menu-icon"><em class="icon ni ni-speed"></em></span>
          <span class="nk-menu-text">Purchase Products</span>
        </a>
      </li>
      <!-- .nk-menu-item -->
      <li class="nk-menu-item">
        <a href="{% url 'dashboard:payments' %}" class="nk-menu-link">
          <span class="nk-menu-icon"
            ><em class="icon ni ni-bitcoin-cash"></em
          ></span>
          <span class="nk-menu-text">Payments</span>
        </a>
      </li>
      <!-- .nk-menu-item -->

      <li class="nk-menu-item">
        <a href="{% url 'dashboard:products-access' %}" class="nk-menu-link">
          <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
          <span class="nk-menu-text">Access Software</span>
        </a>
      </li>
    </ul>
    <!-- .nk-menu -->
  </div>
</div>
