{% extends "base.html" %}
{% load static %}

{% block content %}
	<!-- BLOG BREADCUMB START -->
<div class="breadcumb-area" >
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc  text-center ccase">
				<div class="breadcumb-inner">
					<ul>
						<li><a href="#">Home</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li>About</li>
					</ul>						
				</div>
			</div>
		</div>
	</div>
</div>	
<!-- BLOG BREADCUMB END -->

<!-- FEATURE AREA  -->
<div class="feature_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section_title">
					<h2>About Golden age Strategic Capital</h2>
					<p>At Golden age Strategic Capital we work with businesses of all sizes and have years of experience handling loan structuring. We have many connections, networks, and resources from which to pull the commercial financing you need for whatever reason. Our experienced professionals who have years of lending experience, our credit culture and deep industry experience provides us true insight of middle-market private equity sponsors. Building trusted relationships is a trademark of our business; as a dependable, collaborative partner, we offer unique solutions and deals from start to completion. We use Sendesta, Business Experian, & Dunn & Bradstreet too come to a decision on your hybrid loan amount.


						
				</div>			
			</div>
			<div class="col-md-12">
				<div class="section_title">
					<h3>How can Golden Age Strategic Capital help you?</h3>
					<p>80-85% of applications of business loan applicants are rejected by banks.

						We’re creating new opportunities for business owners. We help business owners receive loans that help fund their passion so they can be more than just entrepreneurs – they can be artists and visionaries, warriors, and rebels. They can be the very builders of the American dream.
						
						A strong, successful America is not only for large corporations. It starts with small and medium sized businesses. It starts here at Golden Age Strategic Capital.</p>



						
				</div>			
			</div>
			<h2></h2>
						<p>
					</p>
		</div>
			
	</div>
</div>
<!-- END FEATURE AREA  -->

<!-- SOLUTION AREA  -->

<!-- END SOLUTION AREA  -->



	  {% endblock content %}