{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- BLOG BREADCUMB START -->
<div class="breadcumb-area" >
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc  text-center ccase">
				<div class="breadcumb-inner">
					<ul>
						<li><a href="#">Home</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li>Case studies</li>
					</ul>						
				</div>
			</div>
		</div>
	</div>
</div>	
<!-- BLOG BREADCUMB END -->

<!-- SERVICE AREA  -->
<div class="service_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section_title">
					<h2>Advantages of the line of credit</h2>
					
				</div>						
			</div>
		</div>
		
		<div class="row">
			<!-- SINGLE SERVICE -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single_service">
					<div class="single_service_inner">
						<div class="single_service_thumb">
							<img src="assets/images/service/s1.png" alt="" />
						</div>
						<div class="single_service_content">
							<h2>Improve cash flow</h2>
							<p>A line of credit can be very profitable for your business to balance cash flow, especially if there can be a few weeks or months every year when there are limited sales, and during this time, you can get help from a cash line of credit to manage business operations. </p>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE SERVICE 2 -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single_service">
					<div class="single_service_inner">
						<div class="single_service_thumb">
							<img src="assets/images/service/s2.png" alt="" />
						</div>
						<div class="single_service_content">
							<h2>You only pay for the borrowed amount.</h2>
							<p>It’s a good thing that you will only pay the interest for the amount that you borrowed; for example, you have a limit of $100,000 line of credit, but you borrowed $30000, so you will only pay the interest for $30000.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single_service">
					<div class="single_service_inner">
						<div class="single_service_thumb">
							<img src="assets/images/service/s2.png" alt="" />
						</div>
						<div class="single_service_content">
							<h2>Build business credit</h2>
							<p>A line of credit can help you to build Business credit. If you’d like to enhance or maintain your credit score, receiving a business line of credit can be the best way to achieve this. Just be sure to pay it off responsibly so that you don’t lower your score!.</p>
						</div>
					</div>
				</div>
			</div>
			
		
		</div>
	</div>
</div>
<!-- END SERVICE AREA  -->


{% endblock content %}