{% extends "base.html" %}
{% load static %}

{% block content %}
	<!-- BLOG BREADCUMB START -->
<div class="breadcumb-area" >
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc  text-center ccase">
				<div class="breadcumb-inner">
					<ul>
						<li><a href="#">Home</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li>service</li>
					</ul>						
				</div>
			</div>
		</div>
	</div>
</div>	
<!-- BLOG BREADCUMB END -->

<!-- SERVICE AREA  -->
<div class="service_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section_title">
					<h2>Services <span>We Provide</h2>
				
				</div>						
			</div>
		</div>
			
		<div class="row">
			<!-- SINGLE SERVICE -->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="single_service">
					<div class="single_service_inner">
						<div class="single_service_thumb">
							<img src="assets/images/service/s1.png" alt="" />
						</div>
						<div class="single_service_content">
							<h2>Cash line of credit</h2>
							<p>A cash line of credit is always there if you need it, and you are under no obligation to use it. And when you need it, you can use it to cover almost any business need. Plus, you only pay interest on the funds you use, not the full amount.


							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE SERVICE 2 -->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="single_service">
					<div class="single_service_inner">
						<div class="single_service_thumb">
							<img src="assets/images/service/s2.png" alt="" />
						</div>
						<div class="single_service_content">
							<h2>Mobile App Development</h2>
							<p>
								We are not only offering cash for your business, but we can also help you with your business development; if you need a mobile app for your business, we have an expert team to do this for you. We give you access to the line of credit you can pay for interest every month for each of your mobile app development projects, and whenever you want, you can pay the whole borrowed amount.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE SERVICE 3 -->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="single_service">
					<div class="single_service_inner">
						<div class="single_service_thumb">
							<img src="assets/images/service/s3.png" alt="" />
						</div>
						<div class="single_service_content">
							<h2>Software Development</h2>
							<p>Same with mobile app development, you can also get a line of credit for software development. Just tell us your requirements for the software you need for your business, and our professional software development team will handle the project.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE SERVICE 4 -->
			<!-- SINGLE SERVICE 3 -->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="single_service">
					<div class="single_service_inner">
						<div class="single_service_thumb">
							<img src="assets/images/service/s3.png" alt="" />
						</div>
						<div class="single_service_content">
							<h2>Front End Development & Custom Website Development 

							</h2>
							<p>

								We also have two other lines of credit for you, which are a credit line for front-end development and a credit line for custom website development. We can help you develop a custom website for your business, and we can also handle the front end development related projects. We will handle all the activities and will provide you with the best results.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE SERVICE 4 -->
			<!-- SINGLE SERVICE 3 -->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="single_service">
					<div class="single_service_inner">
						<div class="single_service_thumb">
							<img src="assets/images/service/s3.png" alt="" />
						</div>
						<div class="single_service_content">
							<h2>Website Security

							</h2>
							<p>
								Cyber security is a big issue nowadays. If you have some security issues or want to make your business website is fully secure, we also have solutions for this purpose. You can access our website security line of credit. Our team will make your business website fully secure.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE SERVICE 4 -->
					
			
					
		</div>
	</div>
</div>
<!-- END SERVICE AREA  -->

{% endblock content %}