{% extends "base.html" %}
{% load static %}

{% block content %}
	<!-- TESTIMONIAL AREA  -->
<div class="testimonial_area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section_title lage">
					<h2>Testimonial</h2>
					<p>We are here to manage your <br> finance with <span>experience</span></p>
				</div>			
			</div>
		</div>
		<div class="row">	
			<div class="testimonial_list owl-carousel curosel-style">
				<!-- SINGLE TESTIMONIAL 1 -->
				<div class="col-md-12">
					<div class="single_testimonial">
						<div class="single_testimonial_thumb">
							<h2>Amber Lee</h2>
							<div class="designation">Co-founder</div>
						</div>
						<div class="single_testimonial_icon">
							<i class="fa fa-quote-right"></i>
						</div>	
						<div class="single_testimonial_icon2">
							<i class="fa fa-quote-left"></i>
						</div>
						<div class="single_testimonial_text">
							<p>he argument in favor of using filler text goes something like this: If you use real content in the design process, anytime  reach a review point you’ll end up reviewing and negotiating.</p>
						</div>
					</div>
				</div>
				<!-- SINGLE TESTIMONIAL 2 -->
				<div class="col-md-12">
					<div class="single_testimonial">
						<div class="single_testimonial_thumb">
							<h2>Anny Leo</h2>
							<div class="designation">Co-founder</div>
						</div>
						<div class="single_testimonial_icon">
							<i class="fa fa-quote-right"></i>
						</div>	
						<div class="single_testimonial_icon2">
							<i class="fa fa-quote-left"></i>
						</div>
						<div class="single_testimonial_text">
							<p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime  reach a review point you’ll end up reviewing and negotiating.</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>		
	</div>
</div>
<!-- END TESTIMONIAL AREA  -->
{% endblock content %}